.stfolder/
.stversions/
.idea/
author.txt
config_debug.ini
config_debug.ini1
docker_prepare_data.ini
docker_prepare_data.ini1
docker_run.ini
docker_run.ini1
prepare_files_for_github.sh
update_local_config_dir.sh
update_local_config_dir.sh1
queries/bak/
QGIS3/profiles/default/python/expressions/
expressions/__pycache__
*.pyc
processing/
gui/__pycache__/
gui/build/
gui/dist/
gui/run_chain.sh